body {
    background-color: rgba(43, 43, 250, 0.52);
    display: flex;
}

main {
    justify-content: center;
    align-items: center;
}

.input-form,
.parsed-results {
    width: 800px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 3px;
}

hr {
    width: 800px;
    border-bottom: 1px solid #CCC;
    margin: 10px auto;
}
